{% extends "HealthandFitnessClubApp/base.html" %}

{% block content %}
    <style>
        .exercise-section {
            background-color: #ffcccc; /* Light red background color */
            padding: 20px;
            border: 5px double #a50606;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            position: relative; /* Add position relative for absolute positioning */
        }

        .health-stats-section {
            background-color: #ccccff; /* Light blue background color */
            padding: 20px;
            border: 5px double #2d0d6c;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            position: relative; /* Add position relative for absolute positioning */
        }

        .fitness-goals-section {
            background-color: #83b9f3; /* Light blue background color */
            padding: 20px;
            border: 5px double #04507c;
            margin-bottom: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            position: relative; /* Add position relative for absolute positioning */
        }

        .edit-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #f9f9f9;
            color: rgb(0, 0, 0);
            border: none;
            
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
        .add-goal-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px 10px;
            font-size: 14px;
        }
        
    </style>

    <div class="container">
        <h1 class="text-center mb-5">Health and Fitness Dashboard</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card exercise-section">
                    <form method="POST" action="{% url 'update_exercise_routine' user_id=user_id %}">
                        {% csrf_token %}
                        <button type="submit" class="edit-button">Edit</button> 
                        <div class="card-body">
                            <h2 class="card-title">Exercise Routines</h2>
                            <ul class="list-group">
                                {% for routine in user_exercise_routines %}
                                <li class="list-group-item">
                                    <span class="routine-name" id="routine-name"><strong>{{ routine.routine_name }}</strong></span><br> 
                                    <span class="description" id="description">{{ routine.description }}</span> 
                                    <span class="duration" id="duration">{{ routine.duration }}</span> 
                                    <span class="data-created" id="data-created">{{ routine.date_created }}</span>
                                    <input type="hidden" name="routine_id" value="{{ routine.routine_id }}">
                                    <input type="hidden" name="user_id" value="{{ user_id }}">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card health-stats-section">
                    <div class="card-body">
                        <h2 class="card-title">Health Statistics</h2>
                        <form method="POST" action="{% url 'update_health_statistics' user_id %}">
                            <ul>
                                <div class="start-weight">
                                    <label for="start_weight">Start Weight:</label>
                                    <input type="text" id="start_weight" name="start_weight" value="{{ user_data.0 }}">
                                </div>
                                <div class="current-weight">
                                    <label for="current_weight">Current Weight: </label>
                                    <input type="text" id="current_weight" name="current_weight" value="{{ user_data.1 }}">
                                </div>
                                <div class="height">
                                    <label for="height">Height:</label>
                                    <input type="text" id="height" name="height" value="{{ user_data.2 }}">
                                </div>
                                <div class="age">
                                    <label for="age">Age:</label>
                                    <input type="text" id="age" name="age" value="{{ user_data.3}}">
                                </div>
                            </ul>
                        
                            {% csrf_token %}
                            <input type="submit" value="Save">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card fitness-goals-section">
            <form method="POST" action="{% url 'add_fitness_goal' user_id=user_id %}">
                {% csrf_token %}    
                <button type="submit" class="add-goal-button">Add Goal</button> 
            </form>
            <div class="card-body">
                <h2 class="card-title">Fitness Goals</h2>
                <ul class="goal-list">
                    {% for goal in user_fitness_goals %}
                    <li class="goal-item">
                        <form method="POST" action="{% url 'delete_fitness_goal' user_id=user_id %}">
                            {% csrf_token %}
                            <label for="goal{{ forloop.counter }}">Weight: {{ goal.weight_goal }}, Time: {{ goal.time_goal }} weeks, Diet: {{ goal.diet_goal }}, Exercise: {{ goal.form_of_exercise }}</label>
                            <button type="submit" class="completed">Completed!</button>
                            <input type="hidden" name="goal_id" value="{{ goal.goal_id }}">
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
        
        
{% endblock %}
