<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions & Classes</title>
</head>
<body>

    <!-- Navigation bar -->
    <div class="navbar">
        <div class="navbar-left">
            <a href="#home">Health and Fitness Club</a>
        </div>
        <div class="navbar-right">
            <a href="{% url 'TrainerApp-trainer_profile' user_id=user_id %}">Profile</a>
            <a href="#view-members">View Members</a>
            <a href="#sessions-and-classes">Sessions & Classes</a>
            <a href="#role">Welcome, Trainer!</a>
        </div>
    </div>

    <!-- SESSIONS AND CLASSES -->
    <div class="container">
        <h1>Sessions & Classes</h1>
    </div>


</body>
</html>
