{%extends "AdminApp/base.html"%}

{%block content%}
<!-- Add equipment button -->
<h1>Equipment Maintenance</h1>
<form method="get" action="{% url 'AdminApp-addEquipment' user_id=user_id %}">
    {% csrf_token %}
    <button type="submit">Add Equipment</button>
</form>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<!-- Display equipment -->

<table class="table">
    <tr>
        <th>Equipment ID</th>
        <th>Equipment Name</th>
        <th>Last Maintained Date</th>
        <th>Next Maintenance Date</th>
        <th>Performed By</th>
        <th>Update</th>
    </tr>
    {% for equipments in equipment %}
    <tr>
        <td>{{ equipments.0 }}</td>
        <td>{{ equipments.1 }}</td>
        <td>{{ equipments.2 }}</td>
        <td>{{ equipments.3 }}</td>
        <td>{{ equipments.4 }}</td>
        <td>
            <!--update equipment-->
            <form method="post" action="{% url 'AdminApp-update_equipment' equipment_id=equipments.0 user_id=user_id %}">
                {% csrf_token %}
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{%endblock content%}
