{%extends "AdminApp/base.html"%}


{%block content%}

<h1>Group Fitness Classes</h1>
<!-- Print out error messages  -->
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<!-- Display group fitness information -->
<table class="table">
    <tr>
        <th>Class ID</th>
        <th>Trainer Name</th>
        <th>Room Name</th>
        <th>Class Name</th>
        <th>Description</th>
        <th>Session Date</th>
        <th>Session Time</th>
        <th>Update</th>
       
    </tr>
    {% for class in group_fitness %}
    <tr>
        <td>{{ class.0 }}</td>
        <td>{{ class.1 }} {{class.2}}</td>
        <td>{{ class.7 }}</td>
        <td>{{ class.3}}</td>
        <td>{{ class.4 }}</td>
        <td>{{class.5}}</td>
        <td>{{ class.6}}</td>

        <td>

            <!-- Update group fitness classes -->
            <form method="get" action="{% url 'AdminApp-updateGroupFitness' class_id=class.0 user_id=user_id %}">
                {% csrf_token %}
                <input type="hidden" name="session_room" value="{{ class.8 }}">
                <input type="hidden" name="session_date" value="{{ class.5 }}">
                <input type="hidden" name="session_time" value="{{ class.6 }}">
                <input type="hidden" name="room_name" value="{{ class.7 }}">
                <button type="submit" class="btn btn-danger">Update</button>
            </form>
        </td>
        
    </tr>
    {% endfor %}
</table>
{%endblock content%}
