{%extends "AdminApp/base.html"%}


{%block content%}
<h1>Group Fitness Classes</h1>
<table class="table">
    <tr>
        <th>Class ID</th>
        <th>Trainer Name</th>
        <th>Room Name</th>
        <th>Class Name</th>
        <th>Description</th>
        <th>Session Date</th>
        <th>Session Time</th>
        <th>Action</th>
       
    </tr>
    {% for class in group_fitness %}
    <tr>
        <td>{{ class.class_id }}</td>
        <td>{{ class.trainer.first_name }} {{ class.trainer.last_name }}</td>
        <td>{{ class.room.room_name }}</td>
        <td>{{ class.class_name }}</td>
        <td>{{ class.description }}</td>
        <td>{{class.session_date }}</td>
        <td>{{ class.session_time }}</td>
        <td>
            <form method="post" action="{% url 'cancel_group_fitness' class.class_id %}">
                {% csrf_token %}
                <button type="submit">Cancel</button>
            </form>
        </td>
        
    </tr>
    {% endfor %}
</table>
{%endblock content%}
