{%extends "AdminApp/base.html"%}


{%block content%}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red;">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<h1>Personal Training Sessions</h1>
<table class="table">
    <tr>
        <th>Session ID</th>
        <th>Trainer Name</th>
        <th>Member Name</th>
        <th>Session Date</th>
        <th>Session Time</th>
        <th>Duration</th>
        <th>Room Name</th>
        <th>Payment status</th>
        <th>Update</th>
    </tr>
    {% for session in personal_sessions %}
    <tr>
        <td>{{ session.0 }}</td>
        <td>{{ session.1 }}  {{session.2}}</td>
        <td>
            {% if session.3 and session.4 %}
                {{ session.3 }} {{ session.4 }}
            {% else %}
               
            {% endif %}
        </td>
        <td>{{ session.5 }}</td>
        <td>{{ session.6 }}</td>
        <td>{{ session.7 }}</td>
        <td>{{ session.8 }}</td>
        <td>
            {% if session.10 %}
                Paid
            {% else %}
                Unpaid
            {% endif %}
        </td>
        <td>
            <form method="get" action="{% url 'AdminApp-updatePersonalTraining' session_id=session.0 user_id=user_id %}">
                {% csrf_token %}
                <input type="hidden" name="session_room" value="{{ session.11 }}">
                <input type="hidden" name="room_name" value="{{ session.8 }}">
                <input type="hidden" name="session_date" value="{{ session.5 }}">
                <input type="hidden" name="session_time" value="{{ session.6 }}">
                <button type="submit" class="btn btn-danger">Update</button>
            </form>
        </td>

  
    </tr>
    {% endfor %}
</table>
{%endblock content%}
